.wrapper {
    width: 960px;
    margin: 0 auto;
    background: #fffacd;
}
header {
    width: 960px;
    float: left;
}
.logo {
    width: 600px;
    background: #008b8b;
    height: 200px;
    float: left;
}
.Banner {
    width: 360px;
    background: #4682b4;
    height: 200px;
    float: left;
}
nav {
    width: 960px;
}
nav ul {
    
}
nav ul li {
    display: inline;
}
nav ul li a {
    width: 138px;
    background: black;
    color: white;
    float: left;
    padding: 10px;
    border: 1px solid blue;
    text-align: center;
    text-decoration: none;
}
nav ul li a:hover {
    background: white;
    color: black;
}
.container {
    width: 960px;
    background: #ffb6c1;
}
.content {
    width: 700px;
}
aside {
    width: 260px;
}